<!DOCTYPE html>
<html>

<link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Todo</title>
  </head>
  
  <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
      <div class="container-fluid">
        <a class="text-xl text-black font-semibold" href="/">Todo</a>
      </div>
    </div>
  </nav>
</html>
